<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="/" class="navbar-brand">Blog</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles">Artigos</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto logout">
            <a class="nav-link" href="/logout">Sair</a>
        </li>
    </ul>
</nav>

<style>
    nav {
        background: rgb(58,58,190);
        background: linear-gradient(90deg, rgba(58,58,190,1) 0%, rgba(0,212,255,1) 86%);
    }

    .logout a {
        text-transform: uppercase;
        color: #fff !important;
    }
</style>